.selectedCityTempDetails {
    display: grid;
    grid-gap: 10px;
    max-width: 80%;
    grid-template-columns: repeat(3, 0.5fr);

    .lineBreak {
        width: 1px;
        border: 1px solid #9c9a9a6f;
        align-self: center;
        justify-self: center;
        height: 90%
    }
}

.cityTempDetailsFragment {
    display: flex;
    flex-direction: column;

    label {
        opacity: 0.6;
        white-space: nowrap;
    }
}